<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251764299162-t3d0jm4ub826epd356stoiubje65g1hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251764299162-t3d0jm4ub826epd356stoiubje65g1hg</string>
	<key>API_KEY</key>
	<string>AIzaSyAGSqLUpIggz81TV_52qLkytJoszRoPqEw</string>
	<key>GCM_SENDER_ID</key>
	<string>251764299162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>my-chat-app-d3c4e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-app-d3c4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251764299162:ios:825323505f98a28481d623</string>
</dict>
</plist>